[submodule "nemu"]
	path = nemu
	url = https://github.com/OSCPU/nemu.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "coredesign"]
	path = coredesign
	url = https://github.com/yuhengy/coredesign.git
[submodule "learn-riscv-note"]
	path = learn-riscv-note
	url = https://github.com/yuhengy/learn-riscv-note.git
